* {
    box-sizing: border-box;
}
body {
    background-color: #EEF9BF;

    font-family: 'Roboto', sans-serif;
}
.title {
    width: 100%;

    display: flex;
    justify-content: center;
}
h1 {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 47px;

    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    color: #75B79E;
}
.parrots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    flex-wrap: wrap;
}
.parrot {
    width: 117px;
    height: 146px;

    /* background: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center; */

    position: relative;
}
.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.back-face {
    transform: rotateY(180deg);
}
.parrot.flip .back-face {
    transform: rotateY(0deg);
    /* background-color: royalblue; */
}
.parrot.flip .front-face {
    transform: rotateY(-180deg);
    /* background-color: red; */
}
.parrot img {
    width: 100px;
    height: 100px;
}
.timer {
    position: fixed;
    right: 10px;
    top: 10px;
}